doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title Todo List
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    h1 schoo todolist

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
